.App {
  display: flex;
  flex:1;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  
  
}

.carousel-container {
  margin-top:1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  margin-left: 10px;
  
}
.image-container img {
  object-fit:cover;
  height: 405px;
  margin-top: 5px;

    display: flex;

 
    margin-right: 100px;
}

.carousel-container {
    max-width: 700px;
    max-height: 400px;
    margin-right: -10px;
}

.mapOwnerContainer{
  width: 45%;
  height: 400px;
  margin-right: 10px;

 margin-top: 5px;

}

.save {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.save:hover {
    background-color: #45a049;
}
