/* Menu.css */

/* Add this style to show/hide buttons */
.absolute-buttons {
  opacity: 0;
  transition: opacity 0.3s ease;
 
}

/* Add this style to show buttons on hover */
.relative:hover .absolute-buttons {
  opacity: 1;
  
}

/* Style for edit and delete buttons */
.image-buttons {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction:column-reverse;
  align-items:top;
  justify-content:top ;
  background-color: rgba(0, 0, 0, 0.50);
}

/* Rest of your existing CSS styles */


.menu-container {
    margin: 0 auto; /* Center the menu container */
    padding: 30px;
    background-color: #ffffff; /* Set a background color */
    border: 1px solid #ffffff; /* Add a border */ /* Add rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow */
  }
  
 

  

  