.messenger {
  height: calc(100vh - 70px);
  display: flex;

}

.chatMenu {
  flex: 3.5;
}

.chatBox {
  flex: 5.5;
}


.chatOnline {
  flex: 3;

}

.chatMenuWrapper {
  padding: 10px;
  height: 98%;
  width: 40%;
  color: white;
  overflow-y: scroll;




}

.chatBoxWrapper {
  padding: 10px;
  height: 8%;

  width: 100%;
  color: white;

}


.chatMessageInput {
  width: 100%;
  height: 100px;
  padding: 10px;
  color: black;
  border-radius: 10px;
}

.chatSubmitButton {
  width: 70px;
  height: 40px;
  border: none;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: teal;
  color: white;
}

.chatBoxBottom {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.chatBoxTop {
  height: 1600%;
  overflow-y: scroll;
  padding-right: 10px;
}

.noConversation {
  position: absolute;
  top: 20%;
  font-size: 50px;
  color: rgb(224, 220, 220);
  cursor: default;
}

.noMessages {
  position: absolute;
  top: 10%;
  padding: 10px;
  font-size: 50px;
  color: rgb(224, 220, 220);
  cursor: default;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: rgb(220 38 38);
}