.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    background-image: "repeating-radial-gradient(  #0c0a0a 80%,#2f312f 90%,#3f4549 90%)";
    background-size: "65px 65px";
    height: 100vh;
    margin-top: 30px;
}




.navbar-upsell {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.966);
    color: white;
    justify-content: center;
    text-align: center;


}

.navbar-brand-upsell {
    text-decoration: none;
    color: white;
}

.navbar-nav-upsell {
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fcfcfc;
}

.navContainer-upsell {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    margin-left: auto;
    /* Move the navbar-nav to the right */
}

.nav-item-upsell {
    margin-right: 20px;
    text-align: center;
    justify-content: center;
}

.nav-link-upsell {
    height: 100%;
}

.navbar-upsell {
    height: 70px;
    width: 100%;
    background-color: #000000;
    position: fixed;
    top: 0;
    z-index: 1030
}


.logo {
    justify-content: space-between;

}







.fa.fa-bell {
    color: rgb(255, 255, 255),


}






.log {
    margin-left: 1220px;
    margin-top: 2px;

}