.category-cards,
.city-cards {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  align-items: center;
  width: 50%;
}

.head2 {
  padding-bottom: 30px;
}

.category-card,
.city-card {
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  background: rgba(217, 217, 217, 0.58);
  border: 1px solid white;
  box-shadow: 8px 7px 3px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  border-radius: 17px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
}

.category-card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.city-card:hover {
  border: 1px solid black;
  transform: scale(1.05);
}

.category-card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.city-card:active {
  transform: scale(0.95) rotateZ(1.7deg);
}

.category-card.selected {
  background-color: #979b97;
  color: #fff;
}

.city-card.selected {
  background-color: #979b97;
  color: #fff;
}

.btn {
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.btn:hover {
  border: 1px solid white;
}

.btn:active {
  box-shadow: 4px 4px 12px #c5c5c5, -4px -4px 12px #ffffff;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.view {
  margin-top: 100px;
  flex-grow: 1;
  justify-content: space-between;
  width: 100%;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.input-wrapper {
  position: relative;
  width: 80%;
  margin: 50px auto;
}
.categories-view,
.city-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categories-view,
.city-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-box {
  font-size: 16px;
  padding: 10px 0;
  border: none;
  border-bottom: 2px solid #ccc;
  color: #08aeea;
  width: 100%;
  background-color: transparent;
  transition: border-color 0.3s ease-in-out;
}

.underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #08aeea;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.input-box:focus {
  border-color: #08aeea;
  outline: none;
}

.input-box:focus + .underline {
  transform: scaleX(1);
}

.btn:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.timeQuotascontainer {
  max-width: 300px;
  margin: auto;
  margin-top: 150px;
  padding-top: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  text-align: center;
}

.timeQuotasLabel {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.timeQuotasInput {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="number"] {
  width: 50%;
}
.images {
  display: flex;
  justify-content: flex-start;
}
.Img {
  margin-left: 150px;
  width: 25vw;
  height: 20vw;
  object-fit: contain;
}

.Icon {
  width: 25px;
  height: 25px;
  font-size: 20px;
  border: 1px solid;
  border-radius: 50%;
  color: rgb(129, 125, 125);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 9999;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mapContainer {
  width: 50%;
  height: 400px;
  margin-top: 5%;
  margin-left: 25%;
}
